/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');

/*Sans*/
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Black.otf");
  src: url("fonts/eot/IndivisaTextSans-Black.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-Black.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-Black.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-Black.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-Black.svg") format('svg');
  font-weight: 700;
  font-display: auto;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-BlackItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-BlackItalic.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-BlackItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-BlackItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-BlackItalic.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-BlackItalic.svg") format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Bold.otf");
  src: url("fonts/eot/IndivisaTextSans-Bold.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-Bold.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-Bold.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-Bold.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-Bold.svg") format('svg');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-BoldItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-BoldItalic.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-BoldItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-BoldItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-BoldItalic.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-BoldItalic.svg") format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Light.otf");
  src: url("fonts/eot/IndivisaTextSans-Light.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-Light.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-Light.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-Light.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-Light.svg") format('svg');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-LightItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-LightItalic.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-LightItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-LightItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-LightItalic.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-LightItalic.svg") format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Regular.otf");
    src: url("fonts/eot/IndivisaTextSans-Regular.eot") format('embedded-opentype'),
         url("fonts/woff2/IndivisaTextSans-Regular.woff2") format('woff2'),
         url("fonts/woff/IndivisaTextSans-Regular.woff") format('woff'),
         url("fonts/ttf/IndivisaTextSans-Regular.ttf") format('truetype'),
         url("fonts/svg/IndivisaTextSans-Regular.svg") format('svg')
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-RegularItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-RegularItalic.eot") format('embedded-opentype'),
       url("fonts/woff2/IndivisaTextSans-RegularItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-RegularItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-RegularItalic.ttf") format('truetype'),
       url("fonts/svg/IndivisaTextSans-RegularItalic.svg") format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


/*Text Sans*/
/*
    p.variantes,
    section#sistemaTipografico p.varianteSubtitulo1,
    section#sistemaTipografico p.varianteSubtitulo2,
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.black,
    section#descargas p.contenido span,
    section#aplicaciones p.paratodoDescripcion,
    section#aplicaciones p.paratodoDescripcion2,
    section#aplicaciones div.modal p.titulo,
    h1.tituloConoce,
    section#sistemaTipografico div.letrasA.TextSans p span.black,
    section#sistemaTipografico div.letrasN.TextSans p span.black,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.black,
    section#multilinguistico p.numeraria,
    section#multilinguistico p.head{
      font-family: "IndivisaTextSans";
      font-weight: 700;
      font-style: normal;
    }
    section#sistemaTipografico div.text p.familiaTitulo.sans,
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.black-italic,
    section#sistemaTipografico div.letrasA.TextSans-Italic p span.black,
    section#sistemaTipografico div.letrasN.TextSans p span.black-italic,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.black-italic{
      font-family: "IndivisaTextSans";
      font-weight: 700;
      font-style: italic;
    }
    .fraseIntro2,p.tituloTipografiaTodos span,
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.bold,
    h2.subtituloConoce,
    section#sistemaTipografico div.letrasA.TextSans p span.bold,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.bold{
      font-family: "IndivisaTextSans";
      font-weight: 600;
    }
    .fraseIntro2,p.tituloTipografiaTodos span,
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.bold-italic,
    section#sistemaTipografico p.subtituloSistemaConoce,
    section#sistemaTipografico div.letrasA.TextSans-Italic p span.bold,
    section#familiasyExtensiones p.subtitulo,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.bold-italic,
    section#multilinguistico p.subtitulo,
    section#multilinguistico p.head span{
      font-family: "IndivisaTextSans";
      font-weight: 600;
      font-style: italic;
    }
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.regular,
    section#aplicaciones p.paratodoDescripcion span,
    section#aplicaciones p.paratodoDescripcion2 span,
    section#sistemaTipografico div.letrasA.TextSans p span.regular,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.regular,
    section#multilinguistico p.numeraria span{
      font-family: "IndivisaTextSans";
      font-weight: 400;
    }
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.regular-italic,
    section#descargas p.subtitulo,
    section#descargas h5.modal-title,
    section#sistemaTipografico div.letrasA.TextSans-Italic p span.regular,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.regular-italic{
      font-family: "IndivisaTextSans";
      font-weight: 400;
      font-style: italic;
    }
    section#sistemaTipografico div.text p.familiaVarianteTitulo,
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.light,
    section#descargas p.titulo,
    section#aplicaciones div.modal p.descripcion,
    section#sistemaTipografico div.letrasA.TextSans p span.light,
    section#sistemaTipografico div.letrasN.TextSans p span.light,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.light,
    section#instagram p.subtitulo{
      font-family: "IndivisaTextSans";
      font-weight: 300;
    }
    section#sistemaTipografico div.text div.sans p.nombreVarianteTipo.light-italic,
    section#sistemaTipografico div.letrasA.TextSans-Italic p span.light,
    section#sistemaTipografico div.letrasN.TextSans p span.light-italic,
    section#familiasyExtensiones div.text div.sans p.nombreVarianteTipo.light-italic{
      font-family: "IndivisaTextSans";
      font-weight: 300;
      font-style: italic;
    }
  
*/
html, body {
      height: 100%;
      width: 100%;
      font-family: IndivisaTextSans, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1px;
}

h1,h3,p{
      font-family: "IndivisaTextSans";
      font-weight: 400;
}

h2{
    font-family: "IndivisaTextSans";
    font-weight: 300;
}

h1,h2,h3,p
{

	color: #000;
}
h1{
	font-size: 	45px;
  line-height: 30px;
}
h2
{
	font-size: 34px;
  color: #101d61;
  margin-top: 0px;

}
h3{
	font-size: 25px;
	color: #000;

}
p.subtitulo{
	font-weight: bold;
	font-size: 20px;
	border: solid #fff 2px;
	padding: 5px 24px;
	border-top-width: 0px;
	border-right-width: 0;
	border-left-width: 0;
}


.bg_gray{
	background: #d1d3d4;
}
.titulo {
    text-align: right;
    color: #fff;
    background: #101d61;
    padding: 2%;
    margin-bottom: 0;
    padding-bottom: 0.5%;
    font-weight: normal;
}

.titulo span{
  font-size:  22px;
  font-weight: 300;
}

.marco {
    border-style: solid;
    border-color: #fff;
    padding: .5% 2%;
    text-transform: uppercase;
    border-width: 5px;
    letter-spacing: 4px;
}
/*Backgrounds para las secciones*/

/*Botones*/
.botonRojo{
  padding: 2% 0%;
  text-align: center;
  background: #bc1027;
  color: #e6e6e6;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  width: 30%;
  cursor: pointer;
  border: none;
  margin-bottom: 5%;
  margin-left: 10%;
}

.botonAzul{
  padding: 2% 0%;
  text-align: center;
  background: #101d61;
  color: #e6e6e6;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  width: 30%;
  cursor: pointer;
  border: none;
  margin-bottom: 5%;
  margin-left: 10%;
}

.botonAzul_descargaTodo{
  text-align: center;
  background: #101d61;
  color: #e6e6e6;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  padding: 26px 10px;
}

.botonRojo2{
  width: 80%;
  margin-left: 20%;
}
.botonPDF{
  width: 80%;
}

.botonAzul:hover,.botonAzul:focus{
    background: #c30824;
    color: #fff;
    text-decoration: none;
}

.botonAzul_descargaTodo:hover,.botonAzul_descargaTodo:focus{
    background: #c30824;
    color: #fff;
    text-decoration: none;
}

.subtitulo_introduccion2:hover,.subtitulo_introduccion2:focus,
.feErratas:hover,.feErratas:focus{
  color: #c30824;
  text-decoration: none;
}

.chevron {
    margin-right: 15px;
    background: url(../images/chevron_rojo.png) no-repeat top left;
    display: inline-block;
    height: 15px;
    width: 26px;
}
.lineaGaleria {
    border-width: 2px;
    width: 40%;
    border-color: #c30824;
    margin: 0;
    margin-bottom: 2%;
    text-align: left;
}

.linea_division {
    border-width: 3px;
    width: 100%;
    border-color: #888888;
    margin-top: 5%;
}
/*Fin General*/

/*Header*/
header{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
.bgyellow{
	background: rgba(255, 194, 8, 0.75);
	padding: 0.15% 0;
}
.bgLigthGray{
	background: #eeeeee;
}
.bgWhite
{
    background: #fff;
}
.bgBlack
{
    background: #000; 
}

.logo{
  margin-top: 10px;
}
/*Fin header*/

/*images*/

img.instrucciones{
  margin-top: 8%;
  margin-left: 10%;
}

img.instrucciones2{
  margin-top: -3%;
  margin-left: 10%;
  margin-bottom: 5%;
}


/*Contenido*/

.introduccion{
  padding: 5% 10%;
}

.separacion_introduccion{
  padding: 3% 0% 0% 0%;
}

.border_tablas{
  border-style: solid;
  border-color: #d1d3d4;
  border-width: 1px;
}

.border_rows{
  border-top-style: solid;
  border-color: #d1d3d4;
  border-width: 2px;
}

.border_tablas_PNG{
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
}

.border_rows_PNG{
  border-top-style: solid;
  border-color: #fff;
  border-width: 1px;
}

.border_subtitulo_introduccion{
  border-right-style: solid;
  border-right-color: #101d61;
  border-right-width: 1px;
  padding-bottom: 6%;
}

h2.titulo_introduccion{
  font-weight: normal;
  font-size: 30px;
  color: #101d61;
}

p.titulo_introduccion2{
  font-weight: normal;
  font-size: 20px;
  color: #101d61;
}

p.subtitulo_introduccion{
  font-weight: normal;
  font-size: 24px;
  color: #101d61;
}

.subtitulo_introduccion2,.feErratas{
  font-weight: normal;
  font-size: 15px;
  color: #808080;
}
.feErratas{
  text-align: right;
  color: #101d61;
  margin-top: 15px;
}

p.subtitulo_azul{
  font-weight: 300;
  font-size: 24px;
  color: #101d61;
  padding: 0% 9.5%;
}

p.instrucciones{
  font-weight: normal;
  font-size: 18px;
  color: #101d61;
  padding: 5% 10%;
}

p.instrucciones_gris{
  font-weight: normal;
  font-size: 18px;
  color: #888888;
  padding: 0% 10%;
  margin-top: -5%;
}

p.manual_aplicacion{
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #101d61;
  padding: 0% 10%;
}

p.titulo_descargables{
  font-weight: normal;
  font-size: 34px;
  line-height: 44px;
  color: #101d61;
  margin-top: 70%;
  margin-bottom: -3%;
}

p.titulo_descargables span{
  font-size: 24px;
}

p.subtitulo_descargables{
  font-weight: normal;
  font-size: 15px;
  color: #101d61;
}

.separacion_descargables{
  padding: 10% 0% 0% 0%;
}

.separacion_descargables div.col-sm-6{
  padding: 0;
}

.separacion_descargables_legales{
  padding-left: 10%;;
}

.separacion_descargables_plecas{
  padding-left: 5.3%;;
}

p.titulo_descargables2{
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #101d61;
  margin-top: 25%;
  margin-bottom: -3%;
  text-align: right;
}

p.subtitulo_descargables2{
  font-weight: normal;
  font-size: 15px;
  color: #101d61;
  text-align: right;
  margin-bottom: 0;
}

a{
  cursor: pointer;
  
}
a:hover{
  text-decoration: none;
}
section.bg_gray a figure:hover{
  -webkit-filter: opacity(66%);
  -ms-filter: "alpha(opacity=66)";
  filter: opacity(66%);
  opacity: 0.6;
  -moz-opacity:0.6;
  filter: alpha(opacity=66);
}
/*Fin Contenido*/


/*Footer*/

footer {
  text-align: center;
}
footer a{
	color: #101d61;
  font-weight: bold;
}
footer a:hover{
	text-decoration: none;
	color: #c30824;

}
footer div ul {
    list-style-image: url('../images/footer/icon_redArrow.png');
}
footer div ul li {
    float: right;
    margin-left: 50px
}

footer div ul li a {
    display: block;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
}

p.aviso, p.terminos{
  cursor: pointer;
  padding: 1% 0;
}
p.aviso:hover, p.terminos:hover{
  color: #c30824;
}
p.aviso.active,p.terminos.active{
  border-bottom: #c30824 solid 2px;
}
div.resumenAviso p, div.resumenTerminos p{
  text-align: left;
}

.bgGray{
	background: gray;
	padding-top: 1%;
}
div.redesSociales figure
{
	display: inline-block;
	padding: 2.2%;
}
div.redesSociales p
{
	color: #fff;
	text-align: left;
}
span.textoValor{
	font-size: 2em;
	color: gray;
}

ul.listaEscuelas a
{
	color:#fff;
	font-size: 0.8em;
}
footer div ul.listaEscuelas {
    list-style-image: url('../images/footer/icon_whiteArrow.png');
}
footer div ul.listaEscuelas li {
    margin-left: 25px
}

/*Fin Footer*/
/*Media Queries*/



@media (max-width: 360px) {

}
@media (max-width: 768px) {
 
}
@media (min-width: 768px) {
  
}

@media (min-width: 970px) {
 
}
@media (min-width: 1200px) {

}